body{
    margin: auto;
    background-image: url(https://media.istockphoto.com/photos/tough-terrain-for-a-tough-man-picture-id1074619472?k=20&m=1074619472&s=612x612&w=0&h=oJekCchSODgONxEb_PdO2xqRlTIukTSJInHpVYCZF5o=);
    background-size: 100%;
    padding: 60px;
}

.padre2:hover{
    background-color: rgba(255, 255, 255, 0.233);
    padding-bottom: 20px;
}


